* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

a {
  color: #000000;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  position: sticky;
  top: 0;
  display: flex;
  background-color: #DCDCDC;
  height: 10vh;
  max-height: 90px;
  /* BURGER */
  /* BURGER [END] */
}
.header .burger {
  z-index: 2;
  position: relative;
  width: 45px;
  height: 20px;
  display: none;
  border: none;
  padding: 0;
  margin-right: 20px;
  background-color: transparent;
  cursor: pointer;
}
.header .burger__line {
  background-color: #8F816C;
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 2px;
  transform: translateY(-50%);
  transition: opacity 0.1s ease-in-out;
}
.header .burger::before,
.header .burger::after {
  background-color: #8F816C;
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  transition: transform 0.1s ease-in-out, top 0.1s ease-in-out, bottom 0.1s ease-in-out;
}
.header .burger::before {
  top: 0;
}
.header .burger::after {
  bottom: 0;
}
.header .burger--active .burger__line {
  opacity: 0;
}
.header .burger--active::before {
  top: 50%;
  transform: rotate(45deg);
}
.header .burger--active::after {
  bottom: auto;
  top: 50%;
  transform: rotate(-45deg);
}
.header__logo {
  background-color: #8F816C;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
.header__logo-text, .header__logo-link {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 3rem;
  line-height: 5vh;
}

.page {
  background-color: #F3F3F3;
  display: flex;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.page__sidebar-wrapper {
  position: sticky;
  top: 7%;
  background-color: #8F8F8F;
  width: 20%;
  height: 100%;
}
.page .sidebar {
  padding: 0 4%;
}
.page .sidebar__inner {
  max-height: 50vh;
  margin: 4% 0;
  background-color: #ABABAB;
  overflow: scroll;
  -ms-overflow-style: none;
}
.page .sidebar__inner::-webkit-scrollbar {
  width: 0;
}
.page .sidebar__item {
  margin: 10px 0;
}
.page .sidebar__link {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: clamp(1rem, 2.5vw, 2rem);
  line-height: 1rem, 2.5vw, 2rem;
}
.page__content-wrapper {
  background-color: #E8E8E8;
  display: flex;
  width: 80%;
}
.page__content-inner {
  background-color: #E8E8E8;
  margin: 3%;
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 55px;
}
.page__content-title-text {
  font-size: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 25px;
}
.page__content-subtitle-text {
  font-size: 35px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  margin-top: 30px;
}
.page__content-text {
  font-size: 30px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 55px;
}
.page__content-link {
  color: #000877;
}
.page__content-img {
  width: 100%;
}

.page-list__item {
  margin-left: 3rem;
}

.download-img {
  width: 32px;
  height: 32px;
}

/* ADAPTIVE */
@media (max-width: 768px) {
  .header {
    height: 11vw;
    justify-content: space-between;
    align-items: center;
  }
  .header__logo-text, .header__logo-link {
    font-size: 5vw;
  }
  .header .burger {
    display: block;
    margin-left: 3%;
  }
  .page__sidebar-wrapper {
    width: 40%;
    position: fixed;
    transform: translateX(-100%);
    transition: transform 0.4s ease-in-out;
  }
  .page .sidebar__link {
    font-size: 3.5vw;
    line-height: 3.5vw;
  }
  .page__content-wrapper {
    width: 100%;
  }
  .page__content-inner {
    font-size: 3vw;
    line-height: 6vw;
  }
  .page__content-title-text {
    font-size: 5vw;
    line-height: 10vw;
    margin-bottom: 0;
  }
  .page__content-subtitle-text {
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 2%;
  }
  .page__content-text {
    font-size: 3vw;
    line-height: 6vw;
  }
}
@media (max-width: 480px) {
  .header__logo-text, .header__logo-link {
    font-size: 5vw;
  }
  .header .burger {
    width: 9vw;
    height: 4vw;
  }
  .page-list__item {
    margin-left: 2rem;
  }
}
/* ADAPTIVE [END] */
/* FUNCTIONS */
.stop-scroll {
  overflow: hidden;
}

.overlay {
  z-index: -1;
  opacity: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

.overlay--active {
  z-index: 1;
}

.element--visible {
  z-index: 10;
  transform: translateX(0);
  visibility: visible;
  transition: transform 0.4s ease-in-out;
}

/* FUNCTIONS [END] */

/*# sourceMappingURL=style.css.map */
