$fontInter: 'Inter', sans-serif;


* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000;
}

a {
  color: #000000;
  text-decoration: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

.header {
  background-color: #DCDCDC ;
  height: 10vh;
  &__logo {
    background-color: #8F816C;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
  }
  &__logo-text {
    color: #FFF;
    font-family: $fontInter;
    font-size: 5vh;
    line-height: 5vh;
  }
}

.page {
  background-color: #F3F3F3;
  display: flex;
  &__sidebar-wrapper {
    background-color: #8F8F8F;
    width: 20%;
    height: 100%;
  }
  &__content-wrapper {
    background-color: #CECECE;
    display: flex;
    width: 80%;
    //padding: 50px;
  }
  &__content-inner {
    background-color: #E8E8E8;
    margin: 3%;
  }
  &__content-title-text {
    font-size: 40px;
    font-family: $fontInter;
    font-weight: 700;
    margin-bottom: 25px;
  }
  &__content-subtitle-text {
    font-size: 35px;
    font-family: $fontInter;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__content-text {
    font-size: 30px;
    font-family: $fontInter;
    font-weight: 400;
    line-height: 55px;
  }
}

.sidebar {
  padding: 0 4%;
  &__inner {
    max-height: 50vh;
    margin: 4% 0;
    background-color: #ABABAB;
    overflow: scroll;
    -ms-overflow-style: none;
    &::-webkit-scrollbar { width: 0; }
  }
  &__menu { }
  &__item {
    margin: 10px 0;
  }
  &__link {
    color: #FFF;
    font-family: $fontInter;
    font-size: 1.5vw;
    line-height: 1.5vw;
  }
}
